@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/Euclid-Circular-B-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/Euclid-Circular-B-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-[#030303] text-white;
    font-family: 'Euclid Circular B', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Satoshi', sans-serif;
  }
}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
